#main
{
margin-top:10px;
}
#logo
{
float:left;
width:200px;
}
#header
{
/*margin-left:320px;*/
float:right;
}
#header a
{
color:black;
}
#social
{
margin-top:25px;
}
#social a img{width:40px; height:40px;}
/*.clearout {
height:20px;
clear:both;
}*/

#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
display:none;
}

.nbs-flexisel-container {
    position:relative;
    max-width:100%;
}
.nbs-flexisel-ul {
    position:relative;
    width:9999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
}

.nbs-flexisel-inner {
    overflow:hidden;
    float:left;
    width:100%;
    background: #fff;
    /*background: #DEE6F4;*/
    /*background:#fcfcfc;
    background: #fcfcfc -moz-linear-gradient(top, #fcfcfc 0%, #eee 100%); 
    background: #fcfcfc -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#eee)); 
    background: #fcfcfc -webkit-linear-gradient(top, #fcfcfc 0%, #eee 100%); 
    background: #fcfcfc -o-linear-gradient(top, #fcfcfc 0%, #eee 100%);
    background: #fcfcfc -ms-linear-gradient(top, #fcfcfc 0%, #eee 100%); 
    background: #fcfcfc linear-gradient(top, #fcfcfc 0%, #eee 100%); */
    border:1px solid #ccc;*/
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;  
}

.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position:relative;
    line-height:0px;
}
.nbs-flexisel-item img {
    width: 100%;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width:180px;
    max-height:100px;
}

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    width: 22px;
    height: 22px; 
    position: absolute;
    cursor: pointer;
    z-index: 100;
    opacity: 0.5;
}

.nbs-flexisel-nav-left {
    left: -8px;
    background: url(../images/button-previous.png) no-repeat;
}

.nbs-flexisel-nav-right {
    right: -13px;
    background: url(../images/button-next.png) no-repeat;
}
#link1
{
float:left;
}
#link2
{
margin-left:750px;
}
@font-face {
    font-family: 'lucida_brightregular';
    src: url('../fonts/lbrite-webfont.eot');
    src: url('../fonts/lbrite-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lbrite-webfont.woff2') format('woff2'),
         url('../fonts/lbrite-webfont.woff') format('woff'),
         url('../fonts/lbrite-webfont.ttf') format('truetype'),
         url('../fonts/lbrite-webfont.svg#lucida_brightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.right1 font
{
font-family: 'lucida_brightregular';
 font-size:; 
 color:#022f5a
 background-color:white;
 float:none;
}
.col-md-9 img
{
    box-shadow: 10px 10px 5px #888888;
}
 .style1
        {
            width: 160px;
        }
        .style2
        {
            width: 191px;
        }
        
        .tbl1 thead tr {
            background      : #0663A8;
            color           : White;
            font-weight     : bold;
        }
        
        .rowColor1 {
            background      : white;
        }
        .rowColor2 {
            background      : gray;
        }
        .highlight {
            background      : skyblue;
        }
		
.table
{
background-color:white;
margin-top:25px;
}		
#tab
{
background-image:url("../images/aiu_pic.jpg");

margin-left:-10px;
margin-top:-20px;
}
.anchers 
{
margin-top:20px;
}	
.anchers a
{
margin-left:60px;
color:white
}
.copyright
{
text-align:center;
margin-top:20px;
color: #fff;
}
.copyright a{color:#ccc;}
li
{
list-style-type: square;
color:white;
}		
/*************************************************nav css**********************************************/
/*
@import url(http://fonts.googleapis.com/css?family=Roboto&subset=latin,latin-ext,cyrillic);
ul#css3menu1,ul#css3menu1 ul{
	margin:0;list-style:none;padding:0;background-color:#000;background-image:url("mainbk.png");background-repeat:repeat;border-width:0px;border-style:solid;border-color:#999999;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
ul#css3menu1 ul{
	display:none;position:absolute;left:0;top:100%;-moz-box-shadow:0.7px 0.7px 1px #777777;-webkit-box-shadow:0.7px 0.7px 1px #777777;box-shadow:0.7px 0.7px 1px #777777;background-color:#333;background-image:none;border-width:1px;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;border-style:solid;border-color:#5A5E60;padding:0 9px 9px;}
ul#css3menu1 li:hover>*{
	display:block;}
ul#css3menu1 li{
	position:relative;display:block;white-space:nowrap;font-size:0;float:left;}
ul#css3menu1 li:hover{
	z-index:1;}
ul#css3menu1{
	font-size:0;width:99%;z-index:999;position:relative;display:inline-block;zoom:1;padding:1px 0.1% 1px 0%;margin:0 0.45%;
	*display:inline;*padding-right:1.51%;}
* html ul#css3menu1 li a{
	display:inline-block;}
ul#css3menu1>li{
	margin:0 0% 0 0.5%;width:16%;}
ul#css3menu1 li.toplast{
	width:17%;}
body:first-of-type ul#css3menu1{
	display:inline-table;border-spacing:1px 0;}
body:first-of-type ul#css3menu1>li{
	display:table-cell;float:none;}
ul#css3menu1 ul>li{
	margin:1px 0 0;}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;}
ul#css3menu1 a{
	display:block;vertical-align:middle;text-align:left;text-decoration:none;font:bold 12px Roboto,Verdana,Geneva,sans-serif;color:#cccccc;cursor:default;padding:10px;background-color:#333;background-image:url("mainbk.png");background-repeat:repeat;background-position:0 200px;border-width:0px;border-style:none;border-color:;}
ul#css3menu1 ul li{
	float:none;margin:9px 0 0;}
ul#css3menu1 ul a{
	text-align:left;padding:8px 0 0 0;background-color:#333;background-image:none;border-width:1px 0 0 0;border-style:solid;border-color:#262626;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;font:13px Roboto,Verdana,Geneva,sans-serif;color:#cccccc;text-decoration:none;}
ul#css3menu1 li:hover>a,ul#css3menu1 li a.pressed{
	background-color:#005d92;border-style:none;color:#ffffff;background-image:url("mainbk.png");background-position:0 100px;text-decoration:none;}
ul#css3menu1 img{
	border:none;vertical-align:middle;margin-right:10px;}
ul#css3menu1 span{
	display:block;overflow:visible;background-position:right center;background-repeat:no-repeat;padding-right:0px;}
ul#css3menu1 > label.switch{
	display:none;cursor:pointer;width:25px;height:20px;padding:10px;}
ul#css3menu1 > label.switch:before{
	content:"";position:absolute;display:block;height:4px;width:25px;border-radius:4px;background:#cccccc;-moz-box-shadow:0 8px #cccccc, 0 16px #cccccc;-webkit-box-shadow:0 8px #cccccc, 0 16px #cccccc;box-shadow:0 8px #cccccc, 0 16px #cccccc;}
ul#css3menu1 > label.switch:hover:before{
	background:#ffffff;-moz-box-shadow:0 8px #ffffff, 0 16px #ffffff;-webkit-box-shadow:0 8px #ffffff, 0 16px #ffffff;box-shadow:0 8px #ffffff, 0 16px #ffffff;}
ul#css3menu1 > .switchbox{
	display:none;}
ul#css3menu1 ul li:hover>a,ul#css3menu1 ul li a.pressed{
	background-color:#333;background-image:none;border-style:solid;border-color:#262626;color:#1F80AE;text-decoration:none;}
ul#css3menu1 li.topfirst>a{
	border-radius:4px 0 0 4px;-moz-border-radius:4px 0 0 4px;-webkit-border-radius:4px;-webkit-border-top-right-radius:0;-webkit-border-bottom-right-radius:0;text-shadow:#000000 0px -1px 1px;}
ul#css3menu1 li.topfirst:hover>a,ul#css3menu1 li.topfirst a.pressed{
	text-shadow:#3d3d3d 0px -1px 1px;}
ul#css3menu1 li.topmenu>a{
	text-shadow:#000000 0px -1px 1px;}
ul#css3menu1 li.topmenu:hover>a,ul#css3menu1 li.topmenu a.pressed{
	text-shadow:#3d3d3d 0px -1px 1px;}
ul#css3menu1 li.toplast>a{
	border-radius:0 4px 4px 0;-moz-border-radius:0 4px 4px 0;-webkit-border-radius:0;-webkit-border-top-right-radius:4px;-webkit-border-bottom-right-radius:4px;text-shadow:#000000 0px -1px 1px;}
ul#css3menu1 li.toplast:hover>a,ul#css3menu1 li.toplast a.pressed{
	text-shadow:#3d3d3d 0px -1px 1px;}
ul#css3menu1 _>li>a{
	padding:0;}
ul#css3menu1 li.subfirst>a{
	border-width:0;border-style:none;padding:0;}
ul#css3menu1 li.subfirst:hover>a,ul#css3menu1 li.subfirst a.pressed{
	border-style:none;}
ul#css3menu1>li:nth-of-type(1){width:14%}ul#css3menu1>li:nth-of-type(2){width:18%}ul#css3menu1>li:nth-of-type(3){width:13%}ul#css3menu1>li:nth-of-type(4){width:25%}ul#css3menu1>li:nth-of-type(5){width:13%}ul#css3menu1>li:nth-of-type(6){width:14%}
@-moz-document url-prefix(){body:first-of-type ul#css3menu1{display:inline-block} body:first-of-type ul#css3menu1>li{display:block;float:left !important;}}
@media only screen and (max-width:426px),only screen and (max-device-width:426px){
ul#css3menu1>li:nth-of-type(1){width:19%;margin:0 0% 1px 0.25%;}ul#css3menu1>li:nth-of-type(2){width:25%;margin:0 0% 1px 0.25%;}ul#css3menu1>li:nth-of-type(3){width:19%;margin:0 0% 1px 0.25%;}ul#css3menu1>li:nth-of-type(4){width:36%;margin:0 0% 1px 0.25%;}ul#css3menu1>li:nth-of-type(5){width:47%;margin:0 0% 0 0.5%;}ul#css3menu1>li:nth-of-type(6){width:52%;margin:0 0% 0 0.5%;}body:first-of-type ul#css3menu1{display:inline-block} body:first-of-type ul#css3menu1>li{display:block;float:left !important;}}
@media screen and (max-width: 768px) {
	ul#css3menu1 > li {
		position: initial;}
	ul#css3menu1 ul .submenu,ul#css3menu1 li > ul {
		left: 0; right:auto; top: 100%;}
	ul#css3menu1 .submenu,ul#css3menu1 ul,ul#css3menu1 .column {
		-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;padding-right: 0;width: 100% !important;}
}
@media screen and (max-width: 307px) {
	ul#css3menu1 {
		width: 100%;}
	ul#css3menu1 > li {
		display: none !important;		position: relative;		width: 100% !important;}
	ul#css3menu1 > label.switch,ul#css3menu1 .switchbox:checked ~ li {
		display: block !important;}
}
.topmenu a
{
width:135px;
}
.right h4
{
margin-left:5px;
}
.right1
{
margin-left:10px !important;
margin-top:25px;
}

@-moz-document url-prefix() {
    .topmenu a
{
width:170px;
}
}
*/
ul#css3menu1,ul#css3menu1 ul{
	margin:0;list-style:none;padding:0;background-color:#000;background-image:url("mainbk.png");background-repeat:repeat;border-width:0px;border-style:solid;border-color:#999999;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
ul#css3menu1 ul{
	display:none;position:absolute;left:0;top:100%;-moz-box-shadow:0.7px 0.7px 1px #777777;-webkit-box-shadow:0.7px 0.7px 1px #777777;box-shadow:0.7px 0.7px 1px #777777;background-color:#333;background-image:none;border-width:1px;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;border-style:solid;border-color:#5A5E60;padding:0 9px 9px;width:496px;}
ul#css3menu1 li:hover>*{
	display:block;}
ul#css3menu1 li{
	position:relative;display:block;white-space:nowrap;font-size:0;float:left;}
ul#css3menu1 li:hover{
	z-index:1;}
ul#css3menu1 ul ul{
	position:absolute;left:100%;top:0;}
ul#css3menu1{
	font-size:0;z-index:999;position:relative;display:inline-block;zoom:1;padding:1px 1px 1px 0;
	*display:inline;}
* html ul#css3menu1 li a{
	display:inline-block;}
ul#css3menu1>li{
	margin:0 0 0 1px;}
ul#css3menu1 ul>li{
	margin:1px 0 0;}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;}
ul#css3menu1 a{
	display:block;vertical-align:middle;text-align:left;text-decoration:none;font:bold 12px Arial;color:#cccccc;cursor:default;padding:10px;background-color:#333;background-image:url("mainbk.png");background-repeat:repeat;background-position:0 200px;border-width:0px;border-style:none;border-color:;text-align: center;text-transform: uppercase;width:118px;height:40px;line-height:20px;text-decoration: underline; text-decoration-color: #EF6622;}
ul#css3menu1 ul li{
	float:left;margin:9px 0 0;width:236px;}
ul#css3menu1 ul a{
	text-align:left;padding:8px 0 0 0;background-color:#333;background-image:none;border-width:1px 0 0 0;border-style:solid;border-color:#262626;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;font:13px Franklin Gothic Medium;color:#cccccc;text-decoration:none;}
ul#css3menu1 li:hover>a,ul#css3menu1 li a.pressed{
	background-color:#005f92;border-style:none;color:#ffffff;background-image:url("mainbk.png");background-position:0 100px;text-decoration:none;}
ul#css3menu1 li a.active{background-color:#005f92;border-style:none;color:#ffffff;background-image:url("mainbk.png");background-position:0 100px;text-decoration:none;}}
ul#css3menu1 img{
	border:none;vertical-align:middle;margin-right:10px;}
ul#css3menu1 span{
	display:block;overflow:visible;background-position:right center;background-repeat:no-repeat;padding-right:0px;text-align: center;
text-transform: uppercase; text-decoration: underline; text-decoration-color: #EF6622;}
ul#css3menu1 ul span{
	background-image:url("arrowsub.gif");padding-right:15px;}
ul#css3menu1 > label.switch{
	display:none;cursor:pointer;width:25px;height:20px;padding:10px;}
ul#css3menu1 > label.switch:before{
	content:"";position:absolute;display:block;height:4px;width:25px;border-radius:4px;background:#cccccc;-moz-box-shadow:0 8px #cccccc, 0 16px #cccccc;-webkit-box-shadow:0 8px #cccccc, 0 16px #cccccc;box-shadow:0 8px #cccccc, 0 16px #cccccc;}
ul#css3menu1 > label.switch:hover:before{
	background:#ffffff;-moz-box-shadow:0 8px #ffffff, 0 16px #ffffff;-webkit-box-shadow:0 8px #ffffff, 0 16px #ffffff;box-shadow:0 8px #ffffff, 0 16px #ffffff;}
ul#css3menu1 > .switchbox{
	display:none;}
ul#css3menu1 ul li:hover>a,ul#css3menu1 ul li a.pressed{
	background-color:#333;background-image:none;border-style:solid;border-color:#262626;color:#1F80AE;text-decoration:none;}
ul#css3menu1 li.topfirst>a{
	border-radius:4px 0 0 4px;-moz-border-radius:4px 0 0 4px;-webkit-border-radius:4px;-webkit-border-top-right-radius:0;-webkit-border-bottom-right-radius:0;text-shadow:#000000 0px -1px 1px;}
ul#css3menu1 li.topfirst:hover>a,ul#css3menu1 li.topfirst a.pressed{
	text-shadow:#3d3d3d 0px -1px 1px;}
ul#css3menu1 li.topmenu>a{
	text-shadow:#000000 0px -1px 1px;}
ul#css3menu1 li.topmenu:hover>a,ul#css3menu1 li.topmenu a.pressed{
	text-shadow:#3d3d3d 0px -1px 1px;}
ul#css3menu1 li.toplast>a{
	border-radius:0 4px 4px 0;-moz-border-radius:0 4px 4px 0;-webkit-border-radius:0;-webkit-border-top-right-radius:4px;-webkit-border-bottom-right-radius:4px;text-shadow:#000000 0px -1px 1px;}
ul#css3menu1 li.toplast:hover>a,ul#css3menu1 li.toplast a.pressed{
	text-shadow:#3d3d3d 0px -1px 1px;}
ul#css3menu1 _>li>a{
	padding:0;}
ul#css3menu1 li.subfirst>a{
	border-width:0;border-style:none;padding:0;}
ul#css3menu1 li.subfirst:hover>a,ul#css3menu1 li.subfirst a.pressed{
	border-style:none;}
	ul#css3menu1 li ul li img {margin-right:7px;}
@media screen and (max-width: 768px) {
	ul#css3menu1 > li {
		position: initial;}
	ul#css3menu1 ul .submenu,ul#css3menu1 li > ul {
		left: 0; right:auto; top: 100%;}
	ul#css3menu1 .submenu,ul#css3menu1 ul,ul#css3menu1 .column {
		-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;padding-right: 0;width: 100% !important;}
}
@media screen and (max-width: 449px) {
	ul#css3menu1 {
		width: 100%;}
	ul#css3menu1 > li {
		display: none !important;		position: relative;		width: 100% !important;}
	ul#css3menu1 > label.switch,ul#css3menu1 .switchbox:checked ~ li {
		display: block !important;}
}


#flexiselDemo2 .nbs-flexisel-item img {
width: 100%;
cursor: pointer;
position: relative;
margin-top: 10px;
margin-bottom: 10px;
max-width: 200px;
max-height: 185px;
/*border: solid 2px #ccc;
background: #fff;*/
}
#flexiselDemo1 .nbs-flexisel-item img {
width: 100%;
cursor: pointer;
position: relative;
margin-top: 10px;
margin-bottom: 10px;
max-width: 220px;
max-height: 100px;
}
.uni  li a{float:left; width:230px; line-height: 25px;color:#fff;}
.uni  li img{margin: 5px; border: solid 2px #342121;}
.heads{text-align: center; font-size: 22px; color:#fff;height: 13px;}
.uni{border:solid 1px;box-shadow: 0 0 10px #435a86; min-height: 252px;padding-top: 20px;}
ul li{list-style-type: none;}
.anchers ul li {float: left;width: 298px;text-align: center;}
.anchers ul li img {width:219px; height: 46px; margin-bottom: 20px;}
.anchers p{color: #ccc; padding:15px; margin-top:20px;}

.nbs-flexisel-ul li{width: 70px !important;
margin: 8px;}

.right1 table tr td img{width:50px;height: 50px; border:solid 2px #ccc;}
.right1 table tr {border-bottom: 1px solid #ccc;margin: 10px;}
.right1 table tr td{padding:5px;}

.que{color: #EF6622;
font-size: 17px;
width: 290px;
}
.ans{color: #69AEE5;
font-size: 15px;
width: 104px;
float: left;
line-height: 30px;
}
.btn1{

text-align: center;width: 160px;}
.video 
{
/*transform:rotate(270deg);
-ms-transform:rotate(270deg); 
-moz-transform:rotate(270deg); 
-webkit-transform:rotate(270deg); 
-o-transform:rotate(270deg); */
border: solid 2px #817373;
margin: 10px;
}
.vid iframe{float:left; margin:40px;}
.gallery ul li {float:left;margin:10px;}
.gallery ul li img{width: 200px; height:130px;border: solid 2px #4D3C3C;}
.head{height: 100px;width:430px;float: left;}
.head img{ width:430px; height: 88px;}
#cycler{position:relative;}
#cycler img{position:absolute;z-index:1}
#cycler img.active{z-index:3}
.sponser{width: 100%;}
.sponser li{ width:130px; float:left; margin: 15px 15px 15px 0px;}
.sponser li img{width:130px;}
.block{float:right;
height: 160px;
background-color: #fff;
padding: 5px;box-shadow: 0 0 5px;width:30.333333%;margin:0 10px 0 0;}
.block1{float: right;
height: 111px;
width: 30.333333%;
margin: 26px 10px 0 0;}
.block1 img{width:294px;}

.block2 img{width:295px; height:200px; border: solid 2px #817373;margin-bottom:20px;}

ul.slide{margin:0;
          padding:0;
          height:80px;
          list-style-type:none;}
 ul.slide li{float:left;
             list-style-type:none;}
 ul.slide img{
             height:60px;margin:15px;}